:root {
  --padding: 8px;
  --border-color: lightSlateGray;
  --avatar-size: 50px;
}

.App {
  text-align: center;
}

.App__title {
  background-color: aquamarine;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}